<div fxLayout="column" style="position: relative;">
  <button *ngIf="data.showButtonClose" mat-icon-button mat-dialog-close class="button-close-dialog">
    <mat-icon>close</mat-icon>
  </button>
  <span *ngIf="data.title" style="font-size: 1.5em; margin: -10px 0px 5px -13px;">{{data.title | translate}}</span>
  <div mat-dialog-content *ngIf="data.message">{{data.message | translate }}</div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-button *ngFor="let item of data.listButton"
      [ngStyle]="{'color': item.color, 'background-color':item.background}"
      (click)="action(item.actionName)">{{item.name | translate}}</button>
  </div>
</div>