<mat-toolbar [ngStyle]="mediaScreenService.getBackgroundAndTextColorDefault()">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button *ngIf="isDeviceXS" (click)="openDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
      <div *ngIf="!isDeviceXS">
        <ng-container *ngFor="let item of listItem; let i=index">
          <button mat-button (click)="navigationService.navigateTo(item.url)" *ngIf="item.showOrHidden">
            <ng-container>
              <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
              <span>{{item.lable | translate }}</span>
            </ng-container>
          </button>
        </ng-container>
      </div>
    </div>

    <div>
      <ng-container *ngIf="authService.isLogin; else showSettingLanguage">
        <button mat-button (click)="navigationService.navigateTo(listItem[0].url)">
          <img class="img-avatar" [src]="userInfo.photoUrl">
          <span class="name">{{userInfo.name}}</span>
        </button>
      </ng-container>
      <ng-template #showSettingLanguage>
        <setup-language></setup-language>
      </ng-template>

    </div>
  </mat-toolbar-row>
</mat-toolbar>