:host {
  --maxMenuLeftWidth: 15.25rem;
  --menuTopHeight: 4.09375rem;
}

::ng-deep {
    .admin-layout-wrapper {
      width: 100%;
      // height: 100vh; // TODO: If have issue, we should be remain it
      position: relative;

      q-admin-menu-left {
        position: fixed;
        width: var(--maxMenuLeftWidth, 15.25rem);
        max-width: var(--maxMenuLeftWidth, 15.25rem);
        top: 0;
        height: 100vh;
        transition: all 0.5s ease-in-out;
        z-index: 100;
      }

      q-admin-menu-top {
        position: fixed;
        left: var(--maxMenuLeftWidth, 15.25rem);
        top: 0;
        width: calc(100vw - var(--maxMenuLeftWidth, 15.25rem));
        height: var(--menuTopHeight, 3.75rem);
        max-height: var(--menuTopHeight, 3.75rem);
        z-index: 300;
        transition: left 0.5s ease-in-out,  width 0.5s ease-in-out;
      }

      .admin-content {
        position: relative;
        margin-top: var(--menuTopHeight, 3.75rem);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        z-index: 0;
      }
    }
}