<div fxLayout="row" fxFlex="100%">
    <div fxLayout="column" fxFlex="100%">
      <div fxLayout="row" class="width-100 container-header">
        <span>{{dataDynamic.lable | translate}}</span>
      </div>
      <div fxLayout="column" class="container-form mb-15">
        <!-- Section content  -->
        <div fxLayout="row" *ngIf="postDetail.contentDetail" fxFlex="100%" style="padding: 5px;" [innerHtml]="postDetail.contentDetail | safeHtml">
        </div>
        <!-- End Section content  -->

        <!-- Comment post  -->
        <comment-section class="m-5"></comment-section>
        <!-- End comment post  -->
      </div>
    </div>
    <!-- End Section post  -->
</div>