.container-header {
  background-color: #edf3f3;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #dce4e4ec;
}

.width-100vh {
  width: 100%;
}

.container-header span {
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

.container-form {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #dce4e4ec;
  padding-bottom: 15px;
}

.padding-5 {
  padding: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.card-center {
  background-color: rgb(237, 243, 243);
  margin: 5px 3px 5px 3px;
  border: 1px solid rgba(219, 228, 228, 0.664);
  border-radius: 5px;
}

.card-center:first {
  margin: 5px 3px 0px 3px;
}

.pd-5 {
  padding: 5px;
}

.image-post {
  width: 100%;
  height: 200px;
}

.title-3-dot {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title-3-dot a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.see-more {
  color: #f44336;
  font-size: larger;
}

.content {
  color: rgba(240, 255, 255, 0.856);
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content p {
  color: black;
}

.container-see-more {
  background-color: rgb(237, 243, 243);
  border-radius: 5px;
  padding: 5px;
}

.header span {
  font-size: 1.5rem;
  line-height: 35px;
  padding: 5px;
}

.container-video {
  max-height: 407px;
}

.width-100 {
  width: 100%;
}
