.content-title {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 10px;
  align-self: center;
  text-transform: uppercase;
  font-weight: bold;
  color: aqua;
}

.line-title {
  width: 100%;
  height: 4px;
  background-color: aqua;
  align-self: center;
  border: none;
}

.icon-title {
  width: auto;
  height: auto;
  font-size: 50px;
  align-self: center;
  color: aqua;
}

//SUMMARY
.content-title-summary {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 10px;
  align-self: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.line-title-summary {
  width: 100%;
  height: 4px;
  background-color: white;
  align-self: center;
  border: none;
}

.icon-title-summary {
  width: auto;
  height: auto;
  font-size: 40px;
  align-self: center;
  color: white;
}
