
<div class="menu-container">
  <div class="menu-top-wrapper" qContainerChangeSize (sizeChange)="handleMenuTopWrapperChangeSize($event)" [maxWidth]="688">
    <div class="logo-wrapper" (click)="handleNavigateToHome()">
      <img class="logo" src="assets/images/logo.png" alt="logo" />
      <span class="name">{{'author_name' | translate}}</span>
    </div>
    {{menuTopWrapper()?.width}}
    @if(!menuTopWrapper()?.isMatchWidth) {
      <q-menu-content 
      [isVertical]="false" 
      class="horizontal-menu-content" 
      (menuItemClick)="handleMenuItemClick($event)"
      (avatarUserClick)="handleAvatarUserClick()"></q-menu-content>
      
    } @else {
      <i class="menu-icon pi pi-bars" (click)="handleToggleMenuClick()"></i>
    }
  </div>
 
  <section class="action-wrapper">
    <!-- Toggle site mode  -->
    <change-site-mode></change-site-mode>
    
    <!-- Change language  -->
    <p-button (click)="handleOpenSelectLanguageDialog()" size="small" [attr.aria-label]="'change_language' | translate"  icon="pi pi-language" [pTooltip]="'change_language' | translate" tooltipPosition="bottom" [text]="true" [raised]="true" severity="warning" />
  
    @if(!isLogin()) {
    <!-- login  -->
    <p-button size="small" [attr.aria-label]="'login' | translate"  icon="pi pi-sign-in" [pTooltip]="'login' | translate" tooltipPosition="bottom" [text]="true" [raised]="true" severity="warning" (click)="handleOpenLoginDialog()"/>
  
    <!-- register  -->
    <p-button size="small" [attr.aria-label]="'register' | translate"  icon="pi pi-user-plus" [pTooltip]="'register' | translate" tooltipPosition="bottom" [text]="true" [raised]="true" severity="warning" (click)="handleOpenRegisterDialog()"/>
    } @else {
    <!-- logout  -->
    <p-button size="small" [attr.aria-label]="'logout' | translate"  icon="pi pi-sign-out" [pTooltip]="'logout' | translate" tooltipPosition="bottom" [text]="true" [raised]="true" severity="warning" (click)="handleLogout()"/>
    }
  
    <!-- Search -->
    <p-button size="small" [attr.aria-label]="'button_search' | translate" [label]="'button_search' | translate" icon="pi pi-search" [text]="true" [raised]="true" severity="warning" (click)="handleOpenSearchDialog()" />
  </section>
</div>

<p-sidebar [(visible)]="sidebarVisible"  class="sidebar" [showCloseIcon]="false">
  <ng-template pTemplate="header">
    <div class="logo-wrapper">
      <p-avatar size="large" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" shape="circle" />
      <span class="name">Name</span>
    </div>
  </ng-template>
  <q-menu-content 
    [isVertical]="true"
    (menuItemClick)="handleMenuItemClick($event)"
    (avatarUserClick)="handleAvatarUserClick()"
  ></q-menu-content>
</p-sidebar>