<div fxLayout="column" flex="50" class="footer-container-form">
  <form [formGroup]="contactFormGroup">
    <mat-form-field class="example-form-field">
      <mat-label>{{'your_email' | translate}}</mat-label>
      <input matInput type="text" class="footer-color-icon" required formControlName="email">
      <button mat-button *ngIf="contactFormGroup.controls.email.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="resetValueInput()">
        <mat-icon class="footer-color-icon">close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>{{'title' | translate}}</mat-label>
      <input matInput type="text" class="footer-color-icon" required formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>{{'enter_your_comment' | translate}}</mat-label>
      <textarea matInput style="color:black;" formControlName="content"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-raised-button class="footer-button-black ml-20" (click)="sendContact()">{{'send' |
        translate}}</button>
    </div>
  </form>
</div>