<section 
  class="login-wrapper" 
  qContainerChangeSize 
  (sizeChange)="handleLoginWrapperChangeSize($event)" 
  [maxWidth]="[512]">
  @if(!loginWrapper?.['512']?.isMaxWidthMatch) {
    <article class="image">
    </article>
  }
 
  <form class="form-wrapper" [style]="{'width': loginWrapper?.['512']?.isMaxWidthMatch ? '100%' : '55%'}">
    <!-- email  -->
    <q-label-wrapper label="{{'email' | translate}}" [isRequired]="true" id="email" [message]="''">
      <span ngProjectAs="control-component">
        <input class="p-fluid" pInputText inputId="email" />
      </span>
    </q-label-wrapper>

    <!-- Password  -->
    <q-label-wrapper label="{{'password' | translate}}" [isRequired]="true" id="password" [message]="''">
      <span ngProjectAs="control-component">
        <p-password class="p-fluid" [feedback]="false" inputId="password" [toggleMask]="true"/>
      </span>
    </q-label-wrapper>

    <!-- Checkbox remember me  -->
    <div class="remember-me-wrapper">
      <p-checkbox 
        binary
        inputId="remember-me" />
      <label for="remember-me">{{'remember_me' | translate}}</label>
    </div>

    <!-- Button -->
    <div class="button-wrapper">
      <p-button size="small" [label]="'login_header' | translate"/>
      <p-button size="small" [label]="'forgot_password_header' | translate" severity="warning" [outlined]="true"/>
    </div>
  </form>
</section>