.login-wrapper {
  display: flex;
  gap: 1rem;

  .image {
    width: 45%;
    background-image: url('assets/images/login.png');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .remember-me-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}