<div class="container">
  <div fxLayout="column">
    <custom-carousel
      [marginBottom]="15"
      [listSlides]="slides"
      style="width: 100%; height: 100%"
    >
    </custom-carousel>
    <!-- card two -->
    <div class="flex-container">
      <div fxLayout="row" fxLayoutAlign="space-around start">
        <div fxLayout="row" fxFlex="95%" fxFlex.xs="100%">
          <div fxLayout="column" fxFlex="70%" fxFlex.xs="100%">
            <!-- Header All Post -->
            <div
              fxLayout="row"
              style="width: 100%"
              fxLayoutAlign="start start"
              class="
                container-header
                border-bottom-1-white
                mt-3
                background-card
                border-radius-top-left-right-5
              "
            >
              <span>{{ "all_post" | translate }}</span>
            </div>

            <div fxLayout="column" class="container-form mb-15">
              <!-- card 1 -->
              <card-component
                *ngFor="let post of listPostLatestAfterPagination"
                [post]="post"
                fxFlexFill
                fxFlex="100%"
              ></card-component>

              <paginator
                *ngIf="listAllPost.length"
                [listItem]="listAllPost"
                [keyListReload]="'ALL_POST'"
                [numberItemPage]="4"
                [mode]="'NONE_LOOP'"
              ></paginator>
            </div>
          </div>

          <div fxLayout="column" fxFlex="30%" *ngIf="!isDeviceXS" class="m-5-3">
            <div fxLayout="column">
              <div
                fxLayout="row"
                style="width: 100%"
                fxLayoutAlign="space-around start"
                class="container-header"
              >
                <span>{{ "quick_link" | translate }}</span>
              </div>
              <div fxLayout="column" class="container-form">
                <div fxLayout="column" class="pd-3">
                  <div
                    fxLayoutAlign="start center"
                    class="pd-3"
                    *ngFor="let item of listItemsQuickLink"
                  >
                    <mat-icon>loyalty</mat-icon>
                    <a href="#" class="color-black ml-2 title-3-dot-1-line">
                      {{ item }}</a
                    >
                  </div>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-around start"
                    class="container-see-more"
                  >
                    <div fxLayout="row">
                      <paginator
                        [listItem]="listItemQuickLink"
                        [keyListReload]="'QUICK_LINK'"
                        [mode]="'NONE_LOOP'"
                      >
                      </paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- FanPage -->
            <div fxLayout="column">
              <div
                fxLayout="row"
                style="width: 100%"
                fxLayoutAlign="space-around start"
                class="container-header"
              >
                <span>{{ "my_fanpage" | translate }}</span>
              </div>

              <div
                class="container-form"
                id="fanpage"
                fxLayoutAlign="center start"
              >
                <fanpage-facebook [containerId]="'fanpage'"></fanpage-facebook>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
