table {
  width: 100%;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.header-tabel {
  font-size: large;
  font-weight: 600;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.m-5 {
  margin: 5px;
}

.container-header {
  background-color: #edf3f3;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #dce4e4ec;
}

.container-header span {
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

.container-form {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #dce4e4ec;
  padding-top: 15px;
  padding-bottom: 15px;
}

.border-2 {
  border: 2px solid #a8afafce;
}

.login-button {
  background-color: black;
  color: white;
}

.ml-20 {
  margin-left: 20px;
}

.width-100vh {
  width: 100%;
}

.pd-10px {
  padding: 10px;
}

.button-delete {
  color: red;
}
