::ng-deep {
  body {
    @import 'assets/styles/variables/light.mode.scss'; // Default mode

    q-company-management {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .actions-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
      }
      .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .filter-group {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }

  body.dark {
    @import 'assets/styles/variables/dark.mode.scss';


  }
}