:host {
  --leftSectionWidth: 14.75rem;
  --rightSectionWidth: 12.25rem;
}
.skill-wrapper {
  display: flex;
  width: 100%;
  container: mainWrapper900/inline-size;

  .left-section {
    width: var(--leftSectionWidth);
    transition: width 0.3s ease-in-out;

    q-vertical-menu-left  {
      display: block;
      width: 100%;
      position: sticky;
      top: 13rem;
      left: 0;
      max-height: calc(100vh - 226px);
      overflow: auto;
    }
    .toggle-button {
      display: flex;
      position: sticky;
      top: 24.5rem;
      right: 0;
      width: fit-content;
      left: 20rem;
    }
    
  }
  .right-section {
    width: var(--rightSectionWidth);
  }
  .main-content {
    display: flex;
    flex: 1;
    padding: 0 2rem;
  }

  @container mainWrapper900 (max-width: 56.25em) {
    .right-section {
      display: none;
    }
  }
}