<q-header-page 
    [title]="companyUpsertHeader().title" 
    [description]="companyUpsertHeader().description" 
    [breadcrumbItems]="companyUpsertHeader().breadcrumb"></q-header-page>
    
<q-dynamic-search-form [column]="6" [fieldConfig]="fieldConfig" (eventClick)="handleSearchClick($event)"></q-dynamic-search-form>
<div class="actions-wrapper">
  
  <p-button [routerLink]="registerLink" size="small" [label]="'register' | translate" />
</div>
<div class="header-wrapper">
  <h3> {{'company_list' | translate}}</h3>

  <div class="filter-group">
    <h4>
      {{'total_count' | translate: {total: totalCount} }}
    </h4>
    <q-filter-form [items]="filterField" (eventClick)="handleFilterClick($event)"></q-filter-form>
  </div>
</div>

<q-custom-table [dataHeaderTable]="dataHeaderTable" [dataTable]="dataTable || []">
  <ng-template #contentRowTemplate let-data>
    <tr>
      <td class="content-cell" style="padding: 1rem;">
        <h3 class="p-column-title">{{dataHeaderTable[0].header | translate}}</h3> <a routerLink="">{{data.name}}</a>
      </td>
      <td class="content-cell" style="padding: 1rem;">
        <h3 class="p-column-title">{{dataHeaderTable[1].header | translate}}</h3> <img src="{{resourceLink+'images/'+data.thumbnailUrl}}" [alt]="data.shortDescription" width="100" height="40"/>
      </td >
      <td class="content-cell" style="padding: 1rem;">
        <h3 class="p-column-title">{{dataHeaderTable[2].header | translate}}</h3>{{data.shortDescription}}</td>
      <td class="content-cell" style="padding: 1rem;">
        <h3 class="p-column-title">{{dataHeaderTable[3].header | translate}}</h3>
        <div style="width:11.6875rem; display: flex; flex-wrap: wrap; gap: 0.2rem; justify-content: center;">
          <span>{{data.startDate | formatDateWithZone}}</span> 
          <span>~</span> 
          <span>{{data.endDate | formatDateWithZone}}</span>
        </div>
      </td>
      <td class="content-cell" style="padding: 1rem;">
        <h3 class="p-column-title">{{dataHeaderTable[4].header | translate}}</h3>
        <p-button size="small" [label]="'delete'| translate" (click)="handleDeleteItem(data.id)"/>
      </td>
    </tr>
  </ng-template>
</q-custom-table>