<q-dynamic-search-form [column]="6" [fieldConfig]="fieldConfig" (eventClick)="handleSearchClick($event)"></q-dynamic-search-form>
<div class="actions-wrapper">
  
  <p-button [routerLink]="'/admin/personal-management/companies-management/register'" size="small" [label]="'register' | translate" />
</div>
<div class="header-wrapper">
  <h3> {{'company-list' | translate}}</h3>

  <div class="filter-group">
    <h4>
      {{'total_count' | translate}}
    </h4>
    <q-filter-form [items]="filterField" (eventClick)="handleFilterClick($event)"></q-filter-form>
  </div>
</div>

<q-custom-table [dataHeaderTable]="dataHeaderTable" [dataTable]="dataTable">
</q-custom-table>