.layout-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 96em;
  position: relative;
  box-sizing: border-box;
  margin: auto;

  q-menu-top {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 103;
  }
}