.layout-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 96em;
  margin: auto;
  position: relative;
  box-sizing: content-box;

  q-menu-top {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 5rem;

    &.margin-mobile {
      padding: 3rem 0.75rem !important;
    }
  }
}