<section class="left-content-card-wrapper">
  <article class="content-wrapper">
    <h2 class="title">{{title}}</h2>
    <small class="date"> <i class="pi pi-calendar"></i>12/12/2023</small>
    <p class="content">
      {{ content }}
    </p>
    <article class="button-wrapper">
      @for(item of buttons; track item) {
        <p-button 
          label="{{(item?.label || '') | translate}}" 
          [icon]="item?.icon"
          [size]="item?.size || 'small'"
          [badge]="item?.badge" 
          [badgeClass]="item?.badgeClass"
          [outlined]="item?.outlined"
          [rounded]="item?.rounded"
          [text]="item?.text"
          [severity]="item?.severity"
          [raised]="item?.raised"
          (click)="clickEvent.emit(item.id)"
        />
      }
    </article>
  </article>
  <article class="image-wrapper" 
    qContainerChangeSize 
    (sizeChange)="handleImageWrapperWrapperChangeSize($event)" 
    [maxWidth]="[512]" 
    style.background-image="url({{imageUrl}})"
    style.height="{{((imageWrapper | containerSize: '512').width || 100) | aspectRatioHeight}}px"
    >
    <span class="first-circle"></span>
    <span class="second-circle"></span>
  </article>
</section>