<div class="carousel-container"
qContainerChangeSize 
(sizeChange)="handleCarouselWrapperChangeSize($event)" 
[maxWidth]="[832]" 
[style.--carousel-height]="maxHeightCarouselWrapper"
>
@if(carouselOptions) {
  <owl-carousel-o [options]="carouselOptions" >
    <ng-template *ngFor="let slide of bannerItems" carouselSlide [id]="slide.id">
      @defer {
        @if(slide.type === cardTypeComponent.imageHorizontalCard) {
          <q-content-overlap-image-card [item]="slide" (eventClick)="eventClick.next($event)"/>
        }
        @if(slide.type === cardTypeComponent.imageVerticalCard) {
          <q-vertical-image-card 
          [id]="slide.id" 
          [imageUrl]="slide.source" 
          [date]="slide?.date || ''" [content]="slide.content" [title]="slide. title" (eventClick)="eventClick.next($event)"/>
        }
        @if(slide.type === cardTypeComponent.videoVerticalCard) {
          <q-vertical-video-card [id]="slide.id" 
          [videoId]="slide.source" 
          [date]="slide?.date || ''" [content]="slide.content" [title]="slide. title" (eventClick)="eventClick.next($event)"/>
        }
    }
    </ng-template>
  </owl-carousel-o>
}

</div>