:host {
    --carousel-height: 15rem;
}
::ng-deep {
    .carousel-container {
        width: 100%;
        height: fit-content;
    }
    .owl-carousel .owl-item {
        height: var(--carousel-height) !important;
    }
}