// Dark mode colors

$woo-commerce: rgb(182, 255, 27);; // Màu cửa hàng tối
$wc-green: #22f916; // Màu xanh lá cây
$wc-red: #ff3b30; // Màu đỏ
$wc-orange: #ffba00; // Màu cam
$wc-blue: #2ea2cc; // Màu xanh dương
$wc-primary: #7F54B3; // Màu chính tối
$wc-primary-text: #f97316; // Màu văn bản chính trắng
$wc-secondary: #292929; // Màu phụ tối
$wc-secondary-text: rgb(133, 133, 133); // Màu văn bản phụ
$wc-highlight: rgb(44, 44, 44); // Màu nổi bật
$wc-highlight-text: rgb(246, 246, 246); // Màu văn bản nổi bật trắng
$wc-content-bg: #121212; // Màu nền nội dung tối
$wc-subtext: #767676; // Màu văn bản phụ
$primary-border: rgb(246, 246, 246);
$secondary-border: rgb(57, 57, 57);

// New color
$primary-background: rgb(22, 22, 22); // Nền chính tối
$secondary-background: rgb(28, 28, 28); // Màu nền phụ tối
$background-opacity: rgba(22, 22, 22, 0.2);
$background-avatar: #6c42ff;


$required-symbol: rgb(182, 255, 27);
$error-message: #f97316;

$label-text: rgb(246, 246, 246);
$main-header-text: #f97316;
$main-content-text: rgba(246, 246, 246, 0.878);
$main-highlight-content-text: #22f916;
$sub-text: #22f916;

$process-bar-background: rgba(246, 246, 246, 0.878);
$process-bar-value: rgb(133, 133, 133);
$process-bar-text: #f97316;

$main-icon: rgb(133, 133, 133);

$first-circle-color: #22f916;
$second-circle-color: #FF007A;
$three-circle-color: #ffba00;

$main-border: rgb(133, 133, 133);
$second-border: rgb(246, 246, 246);
$three-border: #f97316;

$min-width: 16.5rem;
$max-width: 35rem;

$hover-background: rgb(44, 44, 44); // Màu nổi bật
$hover-text: rgb(246, 246, 246); // Màu văn bản nổi bật trắng