// Light mode 
$primary-background:  #f8fafc;
$secondary-background: #FFFFFF;
$woo-commerce: #6c42ff;
$wc-green: #22f916;
$wc-red: #a00;
$wc-orange: #ffba00;
$wc-blue: #2ea2cc;
$wc-primary: #7F54B3;
$wc-primary-text: white;
$wc-secondary: #e9e6ed;
$wc-secondary-text: #515151;
$wc-highlight: rgb(22, 22, 22);
$wc-highlight-text: white;
$wc-content-bg: #fff;
$wc-subtext: #767676;
$primary-border: rgb(246, 246, 246);
$secondary-border: rgb(57, 57, 57);


// New color

$label-text: rgb(22, 22, 22);
$required-symbol: oklch(69.02% .277 332.77);
$error-message: oklch(63.32% .24 31.68);

$main-header-text: rgb(22, 22, 22);
$main-content-text: #767676;

$first-circle-color: #2639ED;
$second-circle-color: #FF007A;
$three-circle-color: #6c42ff;

$main-border: #767676;

$min-width: 16.5rem;

