.box-search {
  width: 25px;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  transition: width 2s;
  position: relative;
}

.box-search input[type="text"] {
  position: absolute;
  border: none;
  outline: none;
  line-height: 25px;
  margin: 5px;
  border-radius: 25px 25px 25px 25px;
  width: inherit;
  transition: width 2s;
  right: 0px;
}

.btnSearch {
  position: absolute;
  right: 0px;
}
.box-search:hover {
  width: 300px;
}
