<div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column"
  [ngStyle]="{'background-color': 'black', 'color': 'white'}">
  <div class="container" fxFlex="60%">
    <div class="flex-container" fxLayout="row" fxFlex="100%" fxLayout.xs="column">
      <div fxLayout="column" fxFlex="50%">
        <h3 class="footer-h3">{{'follow_me' | translate}}</h3>
        <div fxLayout="column" flex="50">
          <div fxLayout="row" class="container-item">
            <mat-icon>facebook</mat-icon>
            <a [href]="socialNetwork.facebook.url" target="_blank"
              class="title-3-dot"><span>{{socialNetwork.facebook.title}}</span></a>
          </div>
          <div fxLayout="row" class="container-item">
            <mat-icon>email</mat-icon>
            <a [href]="socialNetwork.email.url" target="_blank" class="title-3-dot"><span
                class="title-3-dot">{{socialNetwork.email.title}}</span></a>
          </div>
          <div fxLayout="row" class="container-item">
            <mat-icon>live_tv</mat-icon>
            <a [href]="socialNetwork.youtube.url" target="_blank"
              class="title-3-dot"><span>{{socialNetwork.youtube.title}}</span></a>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="50%">
        <h3 class="footer-h3">{{'my_interests' | translate}}</h3>
        <div fxLayout="column" flex="50">
          <div fxLayout="row" class="container-item">
            <mat-icon>military_tech</mat-icon>
            <span class="title-3-dot">Play Socce</span>
          </div>
          <div fxLayout="row" class="container-item">
            <mat-icon>military_tech</mat-icon>
            <span class="title-3-dot">Play Badmintion</span>
          </div>
          <div fxLayout="row" class="container-item">
            <mat-icon>military_tech</mat-icon>
            <span class="title-3-dot">Play guitar</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" fxFlex="40%">
    <div fxLayout="column">
      <h3 class="footer-h3">{{'contact_me' | translate}}</h3>
      <send-contact></send-contact>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" class="footer-container">
  <span>Copright</span>
</div>