.language-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: auto;
    padding: 1rem 0;
    gap: 0.75rem;
    width: 100%;
    .language-item {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        .content-wrapper {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            .flag {
                width: 2.75rem;
                height: 2rem;
                border: 0.01rem solid gray;
                border-radius: 0.25rem;
            }
        }
        
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}