<ng-container *ngIf="infoCardModel">
  <div class="example-card">
    <img src="{{infoCardModel.image}}" alt="Avatar of {{infoCardModel.name}}" class="avatar" />
    <div style="text-align: center; flex-direction: column; display: flex;">
      <span class="{{infoCardModel.className}}">{{infoCardModel.name}}</span>
      <span class="{{infoCardModel.classRole}}">{{infoCardModel.role}}</span>
    </div>
    <div>
      <div *ngFor="let contact of infoCardModel.infoContacts" style="display: flex; flex-direction: row;">
        <ng-container *ngIf="contact.icon || contact.icon !== '' ; else showTitle">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-title-summary"
            class="font-size-icon-contacts">
            {{contact.icon}}
          </mat-icon>
        </ng-container>
        <ng-template #showTitle>
          <span class="label-info">{{contact.title}}:</span>
        </ng-template>
        <span class="value-info">{{contact.value}}</span>
      </div>
    </div>
  </div>
</ng-container>