<!-- footer content comment  -->
<div fxLayout="column" fxFlex="100%">
  <div fxLayout="column" fxFlex="100%" class="container-textarea" [formGroup]="formCommentGroup">
    <mat-form-field appearance="outline">
      <mat-label>{{'enter_your_comment'| translate}}</mat-label>
      <textarea matInput formControlName="contentComment"></textarea>
    </mat-form-field>
  </div>

  <div fxFlex="100%" fxLayout="row-reverse" class="container-button" style="margin-bottom: 10px;">
    <button mat-raised-button color="primary" (click)="addComment()">{{'send_comment'|translate}}</button>
  </div>
</div>