.padding-5 {
  padding: 5px;
}

.padding-5 span {
  font-size: 1.5 rem;
  font-weight: bold;
}

.width-100vh {
  width: 100%;
}

.m-5 {
  margin: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}
.border-1 {
  border: 1px solid rgba(158, 157, 156, 0.863);
}

.login-button {
  background-color: black;
  color: white;
  width: 150px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.container-header {
  background-color: #edf3f3;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #dce4e4ec;
}

.container-header span {
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

.container-form {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #dce4e4ec;
  padding-top: 15px;
  padding-bottom: 15px;
}
