<article class="view-detail-wrapper">
  <div class="grid-image">
    <div class="main-image">
      <img class="image" src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg"/>
    </div>
    <div class="sub-image">
      <div class="image-wrapper">
        <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREoRGyXmHy_6aIgXYqWHdOT3KjfmnuSyxypw&s"/>
      </div>
      <div class="image-wrapper">
        <img class="image" src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg"/>
      </div>
      <div class="image-wrapper">
        <img class="image" src="https://www.w3schools.com/css/img_5terre.jpg"/>
      </div>
      <div class="image-wrapper">
        <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Cinque_Terre_.jpg"/>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    content
  </div>
  <div class="activity-wrapper">
    <q-carousel-wrapper [isShowNavigation]="true" [bannerItems]="bannerItems" [customOptions]="customOptions"></q-carousel-wrapper>
  </div>
</article>