<article class="view-detail-wrapper">
  <div  class="grid-image-wrapper">
    <q-grid-card-image [items]="company().data?.data?.images || []"/>
  </div>

  <div class="content-wrapper">
    <h2>{{company().data?.data?.name}}</h2>
    <div class="content" [innerHtml]="company().data?.data?.description">
    </div>
  </div>
  <div class="activity-wrapper">
    <q-carousel-wrapper [bannerItems]="company().data?.data?.activities || []" [customOptions]="customOptions"></q-carousel-wrapper>
  </div>
</article>