<div fxLayout="column" class="padding-5">
  <div fxLayout="column" class="width-100vh">
    <div fxLayout="row" class="width-100vh container-header">
      <span>{{'login' | translate}}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start" class="container-form">
      <div fxLayout="column" class="m-5" fxFlex.xs="100%" fxFlex="50%">
        <form [formGroup]="firstFormGroup">
          <div fxLayout="column" fxFlex.xs="100%" fxFlex="100%">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-icon matSuffix>check</mat-icon>
              <mat-hint> Message error</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" formControlName="password" required
                autocomplete="on">
              <mat-icon matSuffix>close</mat-icon>
              <mat-hint>Message error</mat-hint>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end center" class="mb-5">
              <mat-checkbox class="example-margin" (change)="saveLogin()">Save login</mat-checkbox>
              <button mat-button class="login-button ml-20" (click)="authService.signIn()">Login</button>
            </div>
          </div>
        </form>

        <div fxLayout="column" fxFlex.xs="100%" fxFlex="100%" fxLayoutAlign="space-center start">
          <button (click)="authService.signIn('google')" mat-button color="warn" class="width-100vh border-1 mb-5"
            aria-label="Loginf with Google">
            <mat-icon>facebook</mat-icon>
            <span class="ml-5">Login with Google</span>
          </button>
          <button (click)="authService.signIn('facebook')" mat-button color="primary" class="width-100vh border-1 mb-5"
            aria-label="Loginf with Facebook">
            <mat-icon>facebook</mat-icon>
            <span class="ml-5">Login with Facebook</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>