<div qContainerChangeSize (sizeChange)="handleCardTimeLineWrapperChangeSize($event)" [maxWidth]="[585]">
  <p-timeline [value]="items" class="timeline-wrapper"
    [style.--timeline-display]=" (cardTimeLineWrapper | containerSize:'585').isMaxWidthMatch ? 'none' : 'block'"
    [align]="(cardTimeLineWrapper | containerSize:'585').isMaxWidthMatch ? 'left' : 'alternate'">
    <ng-template pTemplate="marker" let-event>
      @defer {
      <span class="marker">
        <i [class]="event.icon"></i>
      </span>
      }
    </ng-template>
    <ng-template pTemplate="content"   let-event>
      @defer {
      <div class="card-wrapper">
        <h4>{{event.name}}</h4>

        <div class="date">
          <span class="start"><i class="pi pi-calendar-clock"></i>{{event.startDate}}</span>
          <i class="pi pi-arrow-right"></i>
          <span class="end"><i class="pi pi-calendar-clock"></i>{{event.endDate}}</span>
        </div>

        <div class="location">
          <i class="pi pi-map-marker"></i>
          <span>{{event.address}}</span>
        </div>
        <p class="description">{{event.description}}</p>
        @if(event.imageUrl) {
        <img class="image" [src]="event.imageUrl" [alt]="event.name" [title]="event.name" />
        }
        @if(isShowButtonViewDetail) {
          <p-button class="open-detail-dialog" icon="pi pi-window-maximize" [text]="true" [rounded]="true"
          (click)="eventClick.next(event.id)" />
        }
      </div>
      }
    </ng-template>
  </p-timeline>

</div>