<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxLayout="column" fxFlex="90%" fxFlex.xs="100%">
    <div fxLayout="column">
      <div fxLayout="row" class="width-100vh container-header">
        <span>{{'post_detail' | translate}}</span>
      </div>
      <div fxLayout="column" class="container-form mb-15">
        <!-- Section content  -->
        <div fxLayout="column" fxFlex="100%" class="mb-15" *ngIf="postDetail">
          <p [innerHtml]="postDetail.contentDetail|safeHtml" style="padding: 5px;"></p>
        </div>
        <!-- End Section content  -->
        <!-- Comment post  -->
        <comment-section class="m-5"></comment-section>
        <!-- End comment post  -->
      </div>
    </div>

    <!-- Section post  -->
    <div fxLayout="column">
      <grid-card *ngIf="postInvolve" [dataGridCard]="postInvolve" [numberItemPage]="'6'"></grid-card>
    </div>
    <!-- End Section post  -->
  </div>
</div>