<div class="grid-image">
    <div class="main-image">
        <img class="image" [src]="items[0]"
          alt="Image" />
    </div>
    <div class="sub-image">
        <div class="image-wrapper">
            <img class="image" [src]="items[1]"
              alt="Image" />
        </div>
        <div class="image-wrapper">
            <img class="image" [src]="items[2]"
              alt="Image" />
        </div>
        <div class="image-wrapper">
            <img class="image" [src]="items[3]"
              alt="Image" />
        </div>
        <div class="image-wrapper">
            <img class="image" [src]="items[4]"
              alt="Image" />
        </div>
    </div>
</div>