<section class="register-wrapper"
  qContainerChangeSize 
  (sizeChange)="handleLoginWrapperChangeSize($event)" 
  [maxWidth]="[512]">
    @if((registerWrapper | containerSize:'512').isMaxWidthMatch) {
      <article class="image">
      </article>
    }
 
    <form class="form-wrapper" [style]="{'width': (registerWrapper | containerSize:'512').isMaxWidthMatch ? '100%' : '55%'}">
  
        <!-- Nickname  -->
      <q-label-wrapper label="{{'nickname' | translate}}" [isRequired]="true" id="nickname" [message]="''">
        <span ngProjectAs="control-component">
          <input class="p-fluid" pInputText inputId="nickname" />
        </span>
      </q-label-wrapper>

        <!-- Email  -->
      <q-label-wrapper label="{{'email' | translate}}" [isRequired]="true" id="email" [message]="''">
        <span ngProjectAs="control-component">
          <input class="p-fluid" pInputText inputId="email" />
        </span>
      </q-label-wrapper>

      <!-- Password  -->
      <q-label-wrapper label="{{'password' | translate}}" [isRequired]="true" id="password" [message]="''">
        <span ngProjectAs="control-component">
          <p-password class="p-fluid" [feedback]="false" inputId="password" [toggleMask]="true"/>
        </span>
      </q-label-wrapper>

      <!-- Confirm Password  -->
      <q-label-wrapper label="{{'confirm_password' | translate}}" [isRequired]="true" id="confirm_password" [message]="''">
        <span ngProjectAs="control-component">
          <p-password class="p-fluid" [feedback]="false" inputId="confirm_password" [toggleMask]="true"/>
        </span>
      </q-label-wrapper>

      <!-- Checkbox remember me  -->
      <div class="remember-me-wrapper">
        <p-checkbox 
          binary
          inputId="remember-me" />
        <small for="remember-me">{{'term_content' | translate: { term: ('term' | translate)} }}</small>
      </div>
  
      <!-- Code  -->
      <div class="code-wrapper">
        <div class="input-code-wrapper">
            <p-inputOtp [integerOnly]="true" />
            <p-button class="get-code" size="small" label="{{'resend_code' | translate}}" severity="warning" [outlined]="true"/>
        </div>
        @if(isDisplayMessage()) {
            <small class="message">
                {{ 'message_request_code_success' | translate }}
            </small>
        }
      </div>

      <!-- Button -->
      <div class="button-wrapper">
        <p-button size="small" label="{{'register_header' | translate}}"/>
      </div>
    </form>
  </section>