::ng-deep {
  body {
    @import 'assets/styles/variables/light.mode.scss'; // Default mode

    .image-around-wrapper {
      display: flex;
      border-radius: 50%;
      width: 13rem;
      aspect-ratio: 1/1;

      align-items: center;
      justify-content: center;
      position: relative;

      .image-center {
        border-radius: 50%;
        width: 4.5rem;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        cursor: pointer;
        border: 0.05rem solid;
      }

      .first-image-center,
      .second-image-center,
      .three-image-center,
      .four-image-center,
      .five-image-center,
      .six-image-center,
      .seven-image-center {
        position: absolute;
        object-position: center;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 50%;
        cursor: pointer;
        border: 0.05rem solid;
      }

      .first-image-center {
        width: 3.5rem;
        left: 0rem;
        top: -0.25rem;
      }

      .second-image-center {
        width: 4rem;
        left: -1.5rem;
        bottom: 1rem;
      }

      .three-image-center {
        width: 2.75rem;
        left: 7rem;
        top: -0.75rem;
      }

      .four-image-center {
        width: 3rem;
        left: 5rem;
        bottom: -1.25rem;
      }

      .five-image-center {
        width: 2rem;
        right: -0.75rem;
        bottom: 3.5rem;
      }

      .first-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .second-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .three-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .four-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .five-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .six-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .seven-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
    }
  }

  body.dark {
    @import 'assets/styles/variables/dark.mode.scss';

    .image-around-wrapper {
      display: flex;
      border-radius: 50%;
      width: 13rem;
      aspect-ratio: 1/1;

      align-items: center;
      justify-content: center;
      position: relative;

      .image-center {
        border-radius: 50%;
        width: 4.5rem;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        cursor: pointer;
        border: 0.05rem solid;
      }

      .first-image-center,
      .second-image-center,
      .three-image-center,
      .four-image-center,
      .five-image-center,
      .six-image-center,
      .seven-image-center {
        position: absolute;
        object-position: center;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 50%;
        cursor: pointer;
        border: 0.05rem solid;
      }

      .first-image-center {
        width: 3.5rem;
        left: 0rem;
        top: -0.25rem;
      }

      .second-image-center {
        width: 4rem;
        left: -1.5rem;
        bottom: 1rem;
      }

      .three-image-center {
        width: 2.75rem;
        left: 7rem;
        top: -0.75rem;
      }

      .four-image-center {
        width: 3rem;
        left: 5rem;
        bottom: -1.25rem;
      }

      .five-image-center {
        width: 2rem;
        right: -0.75rem;
        bottom: 3.5rem;
      }

      .first-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .second-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .three-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .four-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .five-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .six-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .seven-image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
      .image-center:hover {
        transform: scale(3);
        z-index: 100;
      }
    }
  }
}