::ng-deep {
  body {
    @import 'assets/styles/variables/light.mode.scss'; // Default mode
    q-admin-menu-left-content {
      display: flex;
      flex-direction: column;
      background: $secondary-background;
      height: inherit;
      box-shadow: 0.025rem 0.025rem 0.25rem $main-border;
      width: inherit;
      overflow-x: hidden;

      .admin-logo-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        align-items: center;
        padding: 0.8rem 0.4rem;
        box-shadow: 1px 1px 0.25rem $main-border;

        .logo {
          width: 2.5em;
          height: 2.5em;
        }
  
        .name {
          font-size: 1.25rem;
          font-weight: bold;
          color: $main-header-text;
          text-wrap: nowrap;
        }
      }

      .menu-item-wrapper {
        display: flex;
        padding: 0.75rem 0.5rem;
        overflow: auto;
        height: 100%;
        .parent-container {
          display: flex;
          flex-direction: column;
          width: 100%;

          .parent-item {
            display: flex;
            flex-direction: column;
            gap: 0.275rem;
            padding-bottom: 0.4375rem;

            .parent-wrapper:hover {
              background: $hover-background;
              color: $main-header-text;
            }
            .parent-wrapper {
              display: flex;
              align-items: flex-end;
              gap: 0.5rem;
              padding: 0.4375rem;
              min-height: 2.375rem;

              cursor: pointer;
              .icon {
                font-size: 1.5em;
              }
  
              h3 {
                line-height: 1rem;
                text-wrap: nowrap;
              }
            }

            .parent-active {
              border-radius: 0.25rem;
              color: $main-header-text !important;
              background: $second-border !important;
            }

            .children-wrapper {
              display: flex;
              flex-direction: column;
              margin-left: 1.5rem;

              .child-item {
                cursor: pointer;
                color: $main-content-text;
                border-left: 0.2rem solid $main-border;
                padding: 0.4375rem 0.4375rem 0.4375rem 0.875rem;
                text-wrap: nowrap;
              }
              .child-item:hover {
                background: $hover-background;
              }
              .active {
                border-left: 0.2rem solid $second-border !important;
                color: $second-border !important;
              }
            }
          }
        }
      }
    }
  }

  body.dark {
    @import 'assets/styles/variables/dark.mode.scss';

    q-admin-menu-left-content {
      display: flex;
      flex-direction: column;
      background: $secondary-background;
      height: inherit;
      box-shadow: 0.025rem 0.025rem 0.25rem $main-border;
      width: inherit;
      overflow-x: hidden;

      .admin-logo-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        align-items: center;
        padding: 0.8rem 0.4rem;
        box-shadow: 1px 1px 0.25rem $main-border;

        .logo {
          width: 2.5em;
          height: 2.5em;
        }
  
        .name {
          font-size: 1.25rem;
          font-weight: bold;
          color: $main-header-text;
          text-wrap: nowrap;
        }
      }

      .menu-item-wrapper {
        display: flex;
        padding: 0.75rem 0.5rem;
        overflow: auto;
        height: 100%;
        .parent-container {
          display: flex;
          flex-direction: column;
          width: 100%;

          .parent-item {
            display: flex;
            flex-direction: column;
            gap: 0.275rem;
            padding-bottom: 0.4375rem;

            .parent-wrapper:hover {
              background: $hover-background;
              color: $main-header-text;
            }
            .parent-wrapper {
              display: flex;
              align-items: flex-end;
              gap: 0.5rem;
              padding: 0.4375rem;
              min-height: 2.375rem;

              cursor: pointer;
              .icon {
                font-size: 1.5em;
              }
  
              h3 {
                line-height: 1rem;
                text-wrap: nowrap;
              }
            }

            .parent-active {
              border-radius: 0.25rem;
              color: $main-header-text;
              background: $second-border;
            }

            .children-wrapper {
              display: flex;
              flex-direction: column;
              margin-left: 1.5rem;

              .child-item {
                cursor: pointer;
                color: $main-content-text;
                border-left: 0.2rem solid $main-border;
                padding: 0.4375rem 0.4375rem 0.4375rem 0.875rem;
                text-wrap: nowrap;
              }
              .child-item:hover {
                background: $hover-background;
              }
              .active {
                border-left: 0.2rem solid $second-border;
                color: $second-border !important;
              }
            }
          }
        }
      }
    }
  }
}