<div fxLayout="column" class="width-100vh" fxLayoutAlign="end start">
  <div fxLayout="row" class="width-100vh container-header">
    <span>{{'add_account' | translate}}</span>
  </div>
  <div fxLayout="row" class="width-100vh container-form">
    <form [formGroup]="firstFormGroup" class="width-100vh">
      <div fxLayout="column">
        <div fxLayout="row wrap" fxLayoutAlign="space-around start">
          <mat-form-field appearance="outline" fxFlex.sm="75%" class="input-container">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-icon matSuffix>check</mat-icon>
            <mat-hint>Message error Message error Message error Message error
              Message error Message error Message error Message error Message error
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex.sm="75%" class="input-container">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="phone" formControlName="phone" required>
            <mat-icon matSuffix>close</mat-icon>
            <mat-hint>Message error</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-around start">
          <mat-form-field appearance="outline" fxFlex.sm="75%" class="input-container">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-icon matSuffix>close</mat-icon>
            <mat-hint>Message error</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex.sm="75%" class="input-container">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" required>
            <mat-icon matSuffix>close</mat-icon>
            <mat-hint>Message error</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-around start">
          <mat-form-field appearance="outline" fxFlex.sm="75%" class="input-container">
            <mat-label>Re-password</mat-label>
            <input matInput placeholder="Re-password" formControlName="repassword" required>
            <mat-icon matSuffix>close</mat-icon>
            <mat-hint>Message error</mat-hint>
          </mat-form-field>
          <div class="input-container" fxFlex.sm="75%"></div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" class="container-action">
          <button mat-button class="border-2">Reset</button>
          <button mat-button class="login-button ml-20">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>