@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'assets/styles/common.scss'; // Common css

body {
  @import 'assets/styles/variables/light.mode.scss'; // Default mode
  background-image: $primary-background;
  line-height: $line-height-text;

  .highlight-text {
    color: $wc-highlight-text;
  }

  .social-icon {
    color: $wc-secondary-text;
    font-size: 1.5rem;
    cursor: pointer;
  }

}
body.dark {
  @import 'assets/styles/variables/dark.mode.scss';
  background: $primary-background;
  color: $wc-primary-text;
  line-height: $line-height-text;

  .highlight-text {
    color: $wc-highlight-text;
  }

  .social-icon {
    color: $wc-secondary-text;
    font-size: 1.5rem;
    cursor: pointer;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
