<navigation [listItem]="listItem" #navigator></navigation>
<mat-drawer-container [hasBackdrop]="true" [ngStyle]="{'min-height': minHeightDrawer}">
  <mat-drawer #drawer [mode]="'side'">
    <mat-drawer-row fxLayout="column" fxLayoutAlign="space-between start">
      <ng-container *ngFor="let item of listItem; let i=index">
        <button mat-button *ngIf="item.showOrHidden" (click)="navigationService.navigateTo(item.url)"
          style="text-align:'left'; width: 100%;">
          <ng-container>
            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
            <span>{{item.lable| translate}}</span>
          </ng-container>
        </button>
      </ng-container>
    </mat-drawer-row>
  </mat-drawer>
  <mat-drawer-content [ngStyle]="{'padding': '0px'}">
    <div style="width: 100%;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<div id="footer-container">
  <div #containerFooter></div>
</div>
<!-- 
<footer></footer> -->