<div class="home-content">
  <div class="section-content"
    qContainerChangeSize (sizeChange)="handleContentLayoutWrapperChangeSize($event)" [maxWidth]="[832]"
    [class.mobile-margin]="(contentLayoutWrapper | containerSize:'832').isMaxWidthMatch">


    <q-carousel-wrapper [bannerItems]="bannerItems"></q-carousel-wrapper>
    
    <q-grid-container [items]="gridCard" [title]="'demo'" [titlePosition]="'center'"></q-grid-container>


    <q-left-content-card title="A Digital Product Agency"
      content="Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services."
      imageUrl="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
      [buttons]="buttons"></q-left-content-card>

    <q-video-card title="A Digital Product Agency"
      content="Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services."
      videoUrl="mVjYG9TSN88" [buttons]="buttons"></q-video-card>

    <q-animation-image-card title="A Digital Product Agency"
      content="Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services."
      [imageUrl]="imageUrl" [buttons]="buttons"></q-animation-image-card>

  </div>

</div>