.home-content {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: clip;

  .section-content {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    gap: 5rem;

    .owl-stage {
      overflow: hidden;
      height: 400px;
    }
    &.mobile-margin {
      padding: 3rem 0.75rem !important;
    }

    .item {
      transform-origin: center;
      animation: scroll-watcher linear;
      animation-fill-mode: both;
      animation-timeline: view(25% 95%);
    
      @keyframes scroll-watcher {
        from {
          opacity: 1;
          scale: 1;
        }
        to {
          opacity: 0;
          scale: 0.8;
        }
      }
    }
  }
}