.home-content {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: clip;

  .section-content {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    gap: 5rem;

    &.mobile-margin {
      padding: 3rem 0.75rem !important;
    }
  }
}