<div style="display: flex;">
  <div style="background-color: aqua; width: 30%;">
    <info-card-component [infoCardModel]="infoCardModel"></info-card-component>
    <!-- Summary section -->
    <ng-container *ngIf="summarySection">
      <title-component [titleModel]="summarySection.title"></title-component>
    </ng-container>

    <!-- Skill section -->
    <ng-container *ngFor="let skill of listSkill">
      <title-component [titleModel]="skill.titleModel"></title-component>
      <mat-grid-list cols="2" rowHeight="40px">
        <div *ngFor="let childSkill of skill.listSkill">
          <mat-grid-tile>
            <label style="color: azure; font-weight: bold;">{{childSkill.name}}</label>
          </mat-grid-tile>
          <mat-grid-tile>
            <rating-component [rating]="childSkill.rating" [color]="'azure'" [readOnly]="true"></rating-component>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </ng-container>
  </div>

  <div style="background-color: white; width: 70%;">
    <ng-container *ngFor="let skill of listSkill">
      <title-component [titleModel]="skill.titleModel"></title-component>
      <div *ngFor="let childSkill of skill.listSkill">
        <label>{{childSkill.name}}</label>
        <rating-component [rating]="childSkill.rating" [color]="azure" [readOnly]="true"></rating-component>
      </div>
    </ng-container>
  </div>
</div>