<div fxLayout="column" class="padding-5" fxLayoutAlign="space-between start">
  <div fxLayout="column" class="width-100vh mb-15">
    <div
      fxLayout="row"
      class="width-100vh container-header"
      fxLayoutAlign="space-between start"
    >
      <span>{{ dataGridCard.title | translate }}</span>
      <button
        mat-icon-button
        color="warn"
        aria-label="Button search for all app"
        class="btn"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="container-form">
      <div class="m-5 width-100vh">
        <div fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="start start">
          <ng-container
            *ngFor="
              let post of listDataGridCardAfterPagination[dataGridCard.id]
            "
          >
            <card-component
              [post]="post"
              fxFlexFill
              fxFlex="50%"
              fxFlex.xs="100%"
            ></card-component>
          </ng-container>
        </div>
        <paginator
          [listItem]="dataGridCard.listChildItem"
          [keyListReload]="dataGridCard.id"
          [mode]="'NONE_LOOP'"
          [numberItemPage]="numberItemPage"
          class="width-100vh"
        ></paginator>
      </div>
    </div>
  </div>
</div>
