<div fxLayout="column" class="padding-5" fxLayoutAlign="space-between start">
  <div fxLayout="column" class="width-100vh mb-15">
    <div fxLayout="row" class="width-100vh container-header" fxLayoutAlign="space-between start">
      <span>{{dataGridCard.title | translate}}</span>
      <button mat-icon-button color="warn" aria-label="Button search for all app" class="btn">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="container-form">
      <div class="m-5 width-100vh">
        <div fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="space-between end">
          <ng-container *ngFor="let post of  listDataGridCardAfterPagination[dataGridCard.id]">
            <div [fxLayout]="isDeviceXS ? 'column' : 'row'" fxFlex="48.5%" fxFlex.xs="100%"
              fxLayoutAlign="space-around start" class="card-center"
              matTooltip="{{(post.urlVideo ? 'hover_play_video'  : '') | translate}}">
              <div style="width: 98%; margin: auto;padding-top:3px;" fxLayout="row" fxFlex="45%" fxFlex.xs="100%"
                *ngIf="post.urlVideo || post.urlThumnail" [id]="post.id">
                <video-custom [url]="post.urlVideo" [imageThumnail]="post.urlThumnail" [containerId]="post.id">
                </video-custom>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around start"
                [fxFlex]="post.urlVideo || post.urlThumnail ? '55%' : '100%'" fxFlex.xs="100%" class="width-100">
                <h3 class="title-3-dot pd-5">
                  <a [routerLink]="[ '/detail',post.id ]">
                    {{post.title}}
                  </a>
                </h3>
                <div fxLayout="row wrap" class="pd-5 width-100vh" fxLayoutAlign="space-between start">
                  <div fxLayout="column" *ngIf="post.view != 0">
                    <span fxLayoutAlign="start center">
                      <mat-icon style="font-size:1.5rem">remove_red_eye</mat-icon>
                      <span style="margin-left: 10px; color: #f44336;">{{post.view}} 100000000</span>
                    </span>
                  </div>
                  <div fxLayout="column" *ngIf="post.rating != 0">
                    <rating-component [readOnly]="true" [rating]="post.rating" style="margin: 0px; padding: 0px;">
                    </rating-component>
                  </div>
                </div>
                <hr style="width:100%; color:rgba(100, 100, 98, 0.835)" />
                <div class="content">
                  <p>
                    {{post.contentDetail}}
                  </p>
                </div>
                <div [ngClass]="{'width-100vh':true}" fxLayout="row-reverse">
                  <a [routerLink]="[ '/detail',post.id ]" class="see-more">
                    See more
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <paginator [listItem]="dataGridCard.listChildItem" [keyListReload]="dataGridCard.id" [mode]="'NONE_LOOP'"
          [numberItemPage]="numberItemPage" class="width-100vh"></paginator>
      </div>
    </div>
  </div>
</div>