::ng-deep {
    body {
      @import 'assets/styles/variables/light.mode.scss'; // Default mode
  
      q-vertical-video-card {
        width: 100%;
        article {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            q-video {
                .youtube-player-placeholder {
                    border-radius: 0.75rem;
                }
            }
            section {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 0.5rem;

                h3 {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    line-height: 1rem;
                    color: $main-header-text;
                    cursor: pointer;
                }
                p {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 1rem;
                    color: $main-content-text;
                }
            }
        }
      }
    }
  
    body.dark {
      @import 'assets/styles/variables/dark.mode.scss';
      
      q-vertical-video-card {
        width: 100%;
        article {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            img {
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
            }

            section {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 0.5rem;
                
                h3 {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    line-height: 1rem;
                    color: $main-header-text;
                    cursor: pointer;
                }
                p {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 1rem;
                    color: $main-content-text;
                }
            }
        }
      }
    }
  }