<q-label-wrapper [label]="label" [isRequired]="true" [id]="id" [message]="errorMessage">
  <span ngProjectAs="control-component">
    <p-fileUpload name="file[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="isMultiple"
      [accept]="acceptFileType" [maxFileSize]="maxFileSize" (onUpload)="onTemplatedUpload()"
      (onSelect)="onSelectedFiles($event)">
      <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
        let-uploadCallback="uploadCallback">
        <div class="upload-image-header">
          <div class="description_group">
            <div class="label-group">
              <span class="label">{{'dimension' | translate}}: </span><span class="content">{{description.dimension}}</span>
            </div>
            <div class="label-group">
              <span class="label">{{'file_type' | translate}}: </span><span class="content">{{description.fileType}}</span>
            </div>
            <div class="label-group">
              <span class="label">{{'max_size_image' | translate}}: </span><span class="content">{{description.maxSize}}</span>
            </div>
          </div>
          <div class="actions-group">
            <p-button size="small" (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true"
              severity="danger" [disabled]="!files || files.length === 0" />
            <p-button size="small" (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true"
              [outlined]="true" />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles"
        let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
        @if(files?.length > 0) {
        <div>
          <div class="upload-image-content-card">
            @for(file of files; track file; let i = $index) {
            <div class="card">
              <img class="image" role="presentation" [alt]="file.name" [src]="file.objectURL" />
              <div class="content-image">
                <h3>{{ file.name }} </h3>
                <div>{{ formatSize(file.size) }}</div>
              </div>
              <div class="card-empty-element"></div>
              <p-button class="delete-button" icon="pi pi-trash" (onClick)="onRemoveTemplatedFile($event, file, removeFileCallback, i)"
              [outlined]="true" [text]="true" severity="danger" />
            </div>
            }
          </div>
        </div>
        }
      </ng-template>
      <ng-template pTemplate="file"> </ng-template>
      <ng-template pTemplate="empty">
        <div class="upload-image-empty-content">
          <i class="pi pi-cloud-upload icon"></i>
          <p class="description">{{'description_upload' | translate}}</p>
        </div>
      </ng-template>
    </p-fileUpload>
  </span>

</q-label-wrapper>