<!-- footer content comment  -->
<div fxLayoutAlign="start">
  <div style="margin-left: 1rem;">
    <button mat-flat-button style="margin-right: 1rem;" (click)="replyComment()">
      {{(isShowComment?'Close':'Reply') | translate}}</button>
    <button mat-flat-button style="margin-left: 1rem;" aria-label="Example icon button with a heart icon">
      <mat-icon color="warn">favorite</mat-icon><label>10000</label>
    </button>
  </div>
</div>
<add-comment *ngIf="isShowComment" [idPost]="idPost" [idComment]="idComment"></add-comment>