<div fxLayout="column" class="padding-5" fxLayoutAlign="space-between start">

  <custom-carousel [marginTop]="5" [marginBottom]="15" [listSlides]="slides" style="width: 100%; height: 100%;">
  </custom-carousel>

  <div fxLayout=" column" class="width-100 mb-15" *ngFor="let myLife of listMyLife">
    <div fxLayout="row" class="width-100 container-header">
      <span>{{myLife.title | translate}}</span>
    </div>
    <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start start" class="container-form">
      <div fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="space-between end" class="width-100">
        <ng-container *ngFor="let post of listChildItemById[myLife.id]">
          <div [fxLayout]="isDeviceXS ? 'column' : 'row'" fxFlex="48.5%" fxFlex.xs="100%"
            fxLayoutAlign="space-around start" [ngClass]="{'card-center':true}"
            matTooltip="{{(post.urlVideo ? 'hover_play_video'  : '') | translate}}">
            <div style="width: 98%; margin: auto;padding-top:3px;" fxLayout="row" fxFlex="45%" fxFlex.xs="100%"
              *ngIf="post.urlVideo || post.urlThumnail" [id]="post.id">
              <video-custom [url]="post.urlVideo" [imageThumnail]="post.urlThumnail" [containerId]="post.id">
              </video-custom>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around start"
              [fxFlex]="post.urlVideo || post.urlThumnail ? '55%' : '100%'" fxFlex.xs="100%" class="width-100">
              <h3 class="title-3-dot pd-5">
                <a [routerLink]="[ '/detail',post.id ]">
                  {{post.title}}
                </a>
              </h3>
              <div fxLayout="row wrap" class="pd-5 width-100" fxLayoutAlign="space-between start">
                <div fxLayout="column" *ngIf="post.view != 0">
                  <span fxLayoutAlign="start center">
                    <mat-icon style="font-size:1.5rem">remove_red_eye</mat-icon>
                    <span style="margin-left: 10px; color: #f44336;">{{post.view}} 100000000</span>
                  </span>
                </div>
                <div fxLayout="column" *ngIf="post.rating != 0">
                  <rating-component [readOnly]="true" [rating]="post.rating" style="margin: 0px; padding: 0px;">
                  </rating-component>
                </div>
              </div>
              <hr style="width:100%; color:rgba(100, 100, 98, 0.835)" />
              <div class="content">
                <p>
                  {{post.contentDetail}}
                </p>
              </div>
              <div [ngClass]="{'width-100':true}" fxLayout="row-reverse">
                <a [routerLink]="[ '/detail',post.id ]" class="see-more">
                  See more
                </a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <paginator numberItemPage="4" [listItem]="myLife.listChildItem" [keyListReload]="myLife.id" [mode]="'NONE_LOOP'"
        class="width-100"></paginator>
    </div>
  </div>
</div>