<ul class="vertical-menu-left-wrapper">
  @for(item of items; track item) {
  <li>
    <h4 (click)="itemClick.next({parentId: item.id})">
      {{item.label}}
      @if(item?.children?.length) {
      <i class="pi {{item.id === parentId() ? 'pi-angle-up' : 'pi-angle-down'}}"></i>
      }
    </h4>
    <ul [class.transition-height]="item.id === parentId()">
      @for(child of item?.children; track child) {
      <li [class.active]="child.id === childId()" (click)="itemClick.next({parentId: item.id, childId: child.id})">
        {{child.label}}
      </li>
      }
    </ul>
  </li>
  }
</ul>