<q-header-page [title]="companyUpsertHeader().title" [description]="companyUpsertHeader().description"
  [breadcrumbItems]="companyUpsertHeader().breadcrumb"></q-header-page>

<form>
  <q-multiple-language-container [initializeData]="initializeData" [initializeLanguages]="initializeLanguages">
    <ng-template #formDataTemplate let-data>
      @defer {
        <q-label-wrapper label="{{'email' | translate}}" [isRequired]="true" id="email" [message]="''">
          <span ngProjectAs="control-component">
            <input class="p-fluid" pInputText inputId="email" [(ngModel)]="data.title" [ngModelOptions]="{standalone: true}" />
          </span>
        </q-label-wrapper>
        <q-upload-image-field></q-upload-image-field>
      }
    </ng-template>
  </q-multiple-language-container>
</form>
<div class="actions-group">
  <p-button outlined [routerLink]="goToListUrl" [label]="'list'| translate" />
  <p-button [label]="'register'| translate" />
</div>